	
	
	<head th:replace="header/head.html :: head"><meta charset="UTF-8"/></head>
	
		<div class="sidebar" data-color="grey" data-background-color="grey">

			<div class="logo">
				<a class="simple-text logo-normal"> LocaLiB </a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item active  "><a class="nav-link"
						href="/index"> <i class="material-icons">dashboard</i>
							<p>Inicio</p>
					</a></li>
					<li class="nav-item "><a class="nav-link" href="/clientes/listar">
							<i class="material-icons">person</i>
							<p>Locatário</p>
					</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/exemplares/listar"> <i class="material-icons">library_books</i>
							<p>Exemplares</p>
					</a></li>
					<li class="nav-item "><a class="nav-link" href="/locacao/listar">
							<i class="material-icons">content_copy</i>
							<p>Locação</p>
					</a></li>
					<li class="nav-item "><a class="nav-link" href="/logout">
							<i class="material-icons">close</i><p>Sair</p>
					</a></li>



				</ul>
			</div>
		</div>
	
		

