<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="header/head.html :: head"><meta charset="UTF-8"/></head>

<body>
	<div th:replace="header/navbar.html :: div"></div>

<div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" >Locatário</a>
          </div>
          </div>
          
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Edição de Locatário</h4>
                   
                </div>
                <div class="card-body">
                  <form th:action="@{/clientes/salvarEditado}" method="POST">
                    <div class="row">
                      <div class="col-md-6">
                      <input type="hidden" name="id" th:value="${clientes.id}">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nome Completo</label>
                          <input type="text" class="form-control" name="nome" th:value="${clientes.nome}" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Endereço</label>
                          <input type="text" class="form-control" name="endereco" th:value="${clientes.endereco}" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">CPF</label>
                          <input type="number" class="form-control" name="cpf" th:value="${clientes.cpf}" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Telefone</label>
                          <input type="number" class="form-control" name="telefone" th:value="${clientes.telefone}" required>
                        </div>
                      </div>
                    </div>
                   
                    <button type="submit" class="btn btn-danger pull-right">Salvar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>

</div>
</div>
</div>
	







	<div th:replace="rodape/rodape.html :: footer"></div>

<script th:src="@{scripts/header.js}"></script>
	
</body>
</html>