<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="header/head.html :: head"><meta charset="UTF-8"/></head>
<body>
	<div th:replace="header/navbar.html :: div"></div>
	<div class="main-panel">
	
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-danger">
								<h4 class="card-title ">Locatários</h4>
								
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-danger">
											<th>Nome</th>
											<th>Endereço</th>
											<th>CPF</th>
											<th>Telefone</th>
											<th class="text-right"><a href="/clientes/cadastro"><button type="button" rel="tooltip" title="Novo"
															class="btn btn-danger btn-sm">
															<i class="material-icons" style="font-size:35px;">add</i>
														</button></a>
											</th>
										</thead>
										<tbody>
											<tr data-th-each="cliente : ${clientes}">
												<td data-th-text="${cliente.nome}"></td>
												<td data-th-text="${cliente.endereco}"></td>
												<td data-th-text="${cliente.cpf}"></td>
												<td data-th-text="${cliente.telefone}"></td>
												<td class="td-actions text-center"><a th:href="@{'/clientes/editar/' + ${cliente.id}}"><button type="button" rel="tooltip" title="Editar"
															class="btn btn-info btn-link btn-sm">
															<i class="material-icons">edit</i>
														</button></a> 
														<a th:href="@{'/clientes/excluir/' + ${cliente.id}}"><button type="button" rel="tooltip" title="Exluir"
															class="btn btn-danger btn-link btn-sm">
															<i class="material-icons">close</i>
														</button></a></td>
													

											</tr>
											

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>








		<div th:replace="rodape/rodape.html :: footer"></div>
		<script th:src="@{scripts/header.js}"></script>
</body>
</html>