<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<head th:replace="header/head.html :: head"><meta charset="UTF-8"/></head>

<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
  
    <div class="fadeIn first">
      <img src="images\icon.png" id="icon" alt="User Icon" />
      <h1 class="titulo">Comanda Virtual</h1>
    </div>

    
    <form name='login' th:action="@{/login}" method="POST">
   
    <input type="text" class="fadeIn second" name="username" autofocus required placeholder="Nome Do Usuário">
      <input type="password" id="password" class="fadeIn third" name="password" required placeholder="Senha">
      <input type="submit" class="fadeIn fourth"  value="Entrar">
      <input type="hidden" name="${_csrf.parameterName}"
			value="${_csrf.token}" />
    </form>
     <div id="formFooter">
      <a class="underlineHover" href="/usuarios/cadastro">Cadastre-se Aqui</a> 
      
    </div>

  </div>
</div>


	<script th:src="@{scripts/header.js}"></script>
</body>
</html>